[2016-02-11 23:15] ericdill opened #1 "downloading issues behind the firewall"
I'm having major issues with downloading sources from behind the firewall.  If I unset the `REQUESTS_CA_BUNDLE `environmental variable then I can download sources, but then I can't upload to our internal server.  It seems that I can either build or upload, but not both. Ugh.

[2016-02-13 00:06] ericdill opened #2 "sort out how to deal with databroker building"
[code]

[2016-02-13 00:07] ericdill commented on #1
Note that the recipes I am having difficulty with are located in the 'needs work' folder

[2016-02-13 22:27] tacaswell commented on #2
Aren't you just missing `nsls2_dev_configuration`?

[2016-02-14 02:49] ericdill commented on #2
Thanks for the second set of eyes on this. As far as i can tell, that is being installed since the test section lists nslsii_dev_configuration in its `The following NEW packages will be INSTALLED` section.

[2016-02-14 02:53] tacaswell commented on #2
I was looking at this section of the log

[code]

but I am not clear what is triggering that section to have run.

[2016-02-14 03:13] ericdill commented on #2
Are you pointing out that the dev configuration is not in the list of packages that immediately follows `The following NEW packages will be INSTALLED:`?

[2016-02-14 03:16] ericdill commented on #2
The log is split up in to build and test sections. The build is bracketed by BUILD_START and BUILD_END and the test is bracketed by TEST_START and TEST_END. Also worth noting is that the test section is out of order. The traceback (likely on stderr) was captures before the rest of the output that temporally preceded it but was processed later (on stdout, I would imagine).

[2016-02-14 03:17] ericdill commented on #2
*captured

[2016-02-14 03:26] tacaswell commented on #2
Ah, I was confused by the out-of-order printing.

The version of mds I built from `conda_prescriptions/recipes/metadatastore/dev` is _also_ missing the patch.

[2016-02-19 20:11] ericdill opened #6 "readline not working properly"
epics-base recipe is not respecting the readline conda package. At the beginning you can see that readline is being installed by conda, but at the end epics-base cannot find it

See below

[code]

[2016-02-19 20:12] ericdill commented on #6
For now I am installing readline6 through apt-get in the docker image.

[2016-02-19 20:40] klauer commented on #6
Or just nuke `epics-base` entirely from conda! :smiling_imp:

[2016-02-19 20:52] ericdill commented on #6
Dude that's totally fine with me. How do you propose deploying it?

[2016-02-19 21:00] klauer commented on #6
I believe I'm in the minority here - so don't take this too seriously.

We have Debian machines with epics packages in apt. Travis, CircleCI are based on Debian/Ubuntu and can (and already do) get these same packages. Distribution via conda has done nothing but create trouble.

[2016-02-19 21:47] tacaswell commented on #6
epics-base is white-listed on travis?  I guess that only matters for non-sudo setups which we can not use because we need docker?

I am also not convinced that dropping epics base from conda will fix the read line issues (but digging into that again is on my medium list of things to do).

In any case I will probably maintain an epics-base conda package for my own use.

[2016-02-19 23:07] ericdill commented on #6
I don't know what that means

I don't particularly care about the details of the deployment.  It is up to you all how you think is best to deploy.  What I am interested in is *automating* the deployment.  So maybe we should spend a few hours when I'm up there next week making sure we're all on the same page.  Though I would advocate for making sure we can automate the entire deployment as it is ri

[2016-02-20 00:23] ericdill opened #7 "Need a newer version of pims"
@danielballan what version of pims can you do `from pims import pipeline`?

[2016-02-20 00:23] ericdill commented on #7
I'm getting an error on the csxtools build

[2016-02-20 00:23] ericdill commented on #7
[code]

[2016-02-20 00:23] ericdill commented on #7
no rush, im done for the evening and will check again tomorrow, thanks!

[2016-02-20 03:57] danielballan commented on #7
Latest tag 0.3.3 should work.

Sent from Outlook Mobile<https://aka.ms/qtex0l>

On Fri, Feb 19, 2016 at 4:24 PM -0800, "Eric Dill" <notifications@github.com<mailto:notifications@github.com>> wrote:

===== testing package: csxtools-0.1.2-np110py34_0 ===== import: 'csxtools' /opt/conda/envs/_test/lib/python3.4/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font

[2016-02-22 19:12] ericdill commented on #7
Thanks @danielballan . I have added the pims 0.3.3 recipe to this repo and added pims >=0.3.3 in csxtools. cc @stuwilkins

[2016-02-22 19:12] #7 closed

[2016-02-22 21:23] danielballan opened #8 "Malformed version string"
Installing collection from nsls2-tag leads to

[code]

I gather that's the old analysis env? Maybe just nuke it?

[2016-02-22 21:50] ericdill commented on #8
I am not sure what package it is. Could you see if you could track it down on anaconda.nsls2.BNL.gov?

[2016-03-08 21:38] ericdill commented on #8
Thanks for the report @danielballan , sorry that it took me a while to track this down.

This is due to the collection 2015-03 package on nsls2-tag and I am removing it immediately after I post this.
[code]
This does not happen with collection 2016_01:
[code]
The analysis metapackage does not have this problem.

[code]

Can you try again and make sure that you do not have this problem any longer?

[2016-06-08 18:04] tacaswell opened #27 "pygraphviz"
It seems to be packaged many times already and pip installs cleanly.

https://anaconda.org/search?q=pygraphviz

graphviz is the underlying c-program and is already packaged by anaconda.

[2016-06-08 18:08] ericdill commented on #27
what version do you want

[2016-06-08 18:12] tacaswell commented on #27
newest?

[2016-06-08 18:22] ericdill commented on #27
ok

[2016-06-29 19:50] #2 closed

[2016-07-05 15:21] licode opened #31 "http issue on mirror command?"
bootstrap-mirror code:
[code]

error message
[code]

[2016-07-29 19:26] CJ-Wright opened #37 "lmfit broken"
Got the following error @licode
/home/cwright/anaconda/envs/dp/lib/python3.5/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved t[67/1409]
gets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)
------------------------------------------------------------------

[2016-07-29 19:50] licode commented on #37
install ipywidgets, and try it again.

[2016-07-29 22:54] CJ-Wright commented on #37
That did it.

[2016-07-30 16:42] #37 closed

[2016-08-17 17:58] tacaswell opened #38 "remove boltons from metadatastore (in all the places)"

[2016-08-21 21:54] licode commented on #38
Only remove boltons from metadatastore, or all over the places, like filestore, databroker?

[2016-08-21 23:05] tacaswell commented on #38
Remove it from anyplace we do not actually need it.

On Sun, Aug 21, 2016, 17:54 Li Li <notifications@github.com> wrote:

[2016-08-31 14:22] #38 closed

[2016-08-31 14:22] #31 closed

[2016-09-29 16:32] #8 closed

[2016-09-29 16:33] danielballan commented on #8
Belatedly following up: indeed, the problem was resolved.

[2016-09-29 16:33] danielballan commented on #1
New anaconda server resolved this issue.

[2016-09-29 16:33] #1 closed

[2016-09-29 16:43] danielballan commented on #6
Readline issues never seem to die, but I think this particular issue is no longer active. Please reopen if I'm wrong.

[2016-09-29 16:43] #6 closed

[2016-10-26 04:21] CJ-Wright opened #53 "Add bluesky to conda-forge?"
Would it be possible to add bluesky/databroker to conda-forge? I have been discussing with people adding the xpdAcq stack to conda-forge and many of the NSLS-II packages are hard deps.

[2016-10-26 16:26] danielballan commented on #53
Let's discuss offline.

[2017-01-05 18:59] licode commented on #53
probably not for now.

[2017-01-05 18:59] #53 closed

[2017-01-05 19:03] licode opened #67 "dependencies on conda-forge"
There are still some light dependencies from conda-forge. Keep this as a record.

- [x] attrs
- [x] boltons
- [x] humanize
- [x] historydict
- [x] ipyvolume
- [x] mongoquery
- [x] prettytable
- [x] pympler
- [x] readline
- [x] tifffile
- [x] traittypes

[2017-01-10 19:34] tacaswell opened #81 "clean up xpd related recipes"
attn @chiahaoliu @sbillinge @CJ-Wright

[2017-01-13 15:18] #27 closed

[2017-03-02 16:42] arkilic opened #92 "Make a conda package for pyxs"
Attn @licode

https://github.com/NSLS-II-LIX/pyXS

PS: There is some swig in there, let's first check how difficult it is.

[2017-03-02 17:02] licode commented on #92
OK, we can put this into the list. Let's find a time to stop by LIX and talk to them.

[2017-03-02 22:47] danielballan commented on #92
FYI, I'm working with Lin on reworking this package.

[2017-03-02 22:49] arkilic commented on #92
He mentioned. He asked if we can get him something like pyxrf that's why he wants to get in touch with Li

[2017-03-07 21:10] tacaswell opened #93 "historydict is missing"
did not get rebuilt for 3.6

[2017-03-07 21:12] tacaswell opened #94 "need newer version of attrs"

[2017-03-08 15:58] tacaswell opened #95 "blotons for py3.6"

[2017-03-08 16:39] tacaswell opened #96 "recipes for portable mds + portable fs"

[2017-03-08 17:27] tacaswell opened #97 "event-model recipe is actually building 1.1 not 1.2"
https://github.com/NSLS-II/lightsource2-recipes/blob/master/recipes-tag/event-model/meta.yaml#L7

[2017-03-08 18:31] #97 closed

[2017-03-08 18:32] #95 closed

[2017-04-24 18:10] arkilic opened #129 "recipe for portable-*"

[2017-04-24 18:10] arkilic commented on #129
attn @licode

[2017-04-26 18:00] licode opened #131 "add controls-doctor"

[2017-05-01 18:57] tacaswell opened #132 "update pyepics recipe to not install libca"
See

https://github.com/pyepics/pyepics/pull/83

[2017-05-02 21:39] licode commented on #94
https://github.com/NSLS-II/lightsource2-recipes/pull/126

[2017-05-02 21:39] #94 closed

[2017-05-02 21:43] licode commented on #67
let's still keep this as a record.

[2017-05-02 21:44] licode commented on #92
Let's move on to beamline local software later

[2017-05-02 21:45] #92 closed

[2017-05-03 13:51] licode opened #134 "collection and analysis for 2017Q2"

[2017-05-03 20:58] licode commented on #131
done

[2017-05-03 20:58] #131 closed

[2017-05-10 21:06] licode commented on #129
done

[2017-05-10 21:06] #129 closed

[2017-05-10 21:07] #96 closed

[2017-05-10 21:08] #93 closed

[2017-05-10 21:08] licode commented on #134
waiting for tests.

[2017-05-17 18:52] arkilic opened #150 "Add fabio"

[2017-05-17 19:47] #150 closed

[2017-05-22 01:15] tacaswell opened #153 "recipe for recordwhat"
https://github.com/klauer/recordwhat

We also have a fork of this on NSLS-II, but target this at Ken's repo.

[2017-05-29 18:16] danielballan opened #169 "Add Excel-related deps to analysis env"

[2017-06-28 21:31] CJ-Wright opened #174 "Matplotlib 2.0.1"
Would it be possible to update matplotlib.
I ran into this today.
https://github.com/matplotlib/matplotlib/issues/7886/

[2017-06-29 19:46] CJ-Wright opened #177 "Pandas 0.20.2"
Can I get pandas 0.20.2, this should fix a problem with pandas plot and matplotlib 2.0.2

[2017-06-29 20:12] tacaswell commented on #177
we are not going to re-package pandas.

[2017-06-29 20:12] #177 closed

[2017-06-29 20:29] CJ-Wright commented on #177
Can we update the conda-forge mirror then? Currently there is a 0.20.2 build on conda-forge but I can't seem to be able to install it inside the ring.

[2017-06-30 14:04] #174 closed

[2017-08-03 19:15] danielballan opened #181 "Need an ISR analysis metapackage that includes eiger-io"
This manually patched in their current conda env.

[2017-08-04 19:33] danielballan opened #182 "Fix dependencies of hklpy"
Based on reports, one or more of the following are probably missing from our recipe. I haven't checked.

gsl libiconv pcre hkl

[2017-08-08 19:36] tacaswell commented on #182
Check the extra stuff added to CSX

[2017-08-08 19:40] danielballan commented on #182
Noting here an in-person conversation with @tacaswell:

It's likely that our recipe for hkl (not hklpy) failed to properly list all its dependencies, and that this is the cause of the problem. Complicating matters, the hkl package cannot be built in our standard Docker because it needs particular system libs to be available. The binary that we distribute now was built manually by Tom on freyja. It

[2017-08-08 20:09] stuartcampbell commented on #182
Just to check, the `hkl` package is the same as the `libhkl` package in debian ?

[2017-08-08 20:49] danielballan commented on #182
Sorry, neither @tacaswell or I know the answer to that.

[2017-08-08 21:26] klauer commented on #182
The hkl package is the same - but I don't recall if we had local modifications https://packages.qa.debian.org/h/hkl.html

[2017-09-19 23:50] danielballan opened #203 "Add dask, distributed, graphviz, python-graphviz."

[2017-09-20 12:21] danielballan commented on #169
There are several possible dependencies for this. If we restrict ourselves to new-style Excel format (xlsx, as opposed to xls) then I think I understand correctly that openpyxl is all we need. This is currently included in our analysis metapackage, so I'm going to close this old issue.

Reference: http://www.python-excel.org/

[2017-09-20 12:21] #169 closed

[2017-09-20 12:21] danielballan commented on #134
Stale issue.

[2017-09-20 12:21] #134 closed

[2017-09-20 12:22] danielballan commented on #81
@CJ-Wright Are you maintaining xpdacq/xpdan conda recipes somewhere? Are the ones in here up to date?

[2017-09-20 12:34] danielballan opened #205 "Add oscars conda package"
I've been manually installing `oscars==1.37.1.dev3` using pip for @dhidas.

We should make a conda package so it can be added to our 'analysis' conda metapackages and installed automatically everywhere.

[2017-09-20 12:42] stuartcampbell commented on #205
Cool - @licode can you have a look at it ?

[2017-09-20 13:37] CJ-Wright commented on #81
We don't have conda-recipes for the most recent release yet (I should get those out today or tomorrow). Currently XPD is running on a source install of our stack.

[2017-09-20 14:37] danielballan commented on #81
Cool. When you do, would you push a copy here as a PR? To be clear, of course it's with me if you also maintain copies elsewhere. Having a copy here as well will keep our deployment process simple.

[2017-09-20 14:38] CJ-Wright commented on #81
Of course.

[2017-09-20 14:44] CJ-Wright opened #206 "I thought we didn't pull from conda-forge?"
Why is there conda-forge in the `readme.md`? Are their plans to pull from conda-forge?

[2017-09-20 16:06] licode commented on #205
Sure, I will add this.

[2017-09-21 14:11] dhidas commented on #205
Hi,

Thanks.  I'm happy to do this with you guys.  If we can have a discussion at some point that might help me.  There are some complications with conda, namely compiler name mangling that differs from nvidia's nvcc which I haven't been able to reconcile so far.  If there are no GPU machines the solution is simple, which is just compile without it, but if there are it's worth it (a factor of > 10

[2017-09-22 19:32] #206 closed

[2017-10-12 00:04] dhidas commented on #205
Hi,

Is there any chance we could quickly upgrade to the latest version: pip install oscars==2.0.2  ?

I don't know if it's a lot of effort or not.  Ideally it would be good to have it up in a week if that's not asking too much?

And if there is a way for me to make it easier for everyone in the future I'm all about that...

Cheers,

-Dean

[2017-10-12 00:08] stuartcampbell commented on #205
@licode Have you made any progress?

[2017-10-12 14:48] licode commented on #205
working on this. I find there are lots of c code in the github source code, and also calculations related to gpu and multithreading. This may be a bit challenging, and I will keep everyone updated.

[2017-10-12 14:53] danielballan commented on #205
@dhidas Could you summarize for @licode what you told me a couple weeks ago about the dependency on a newer version of certain libraries than one finds on typical conda build systems (~CentOS 5)?

[2017-10-18 23:40] dhidas commented on #205
The GPU tools need to be compiled with the nvcc compiler which is only available for cent os 6 or greater (and similar for other distros), so it won't exactly fit the manylinux1 standard, but perhaps would work well enough...or should I not go there?  I haven't found nvcc in any conda package yet, but they do distribute the libs in cudatoolkit.

To compile with the gpu I would normally:
make
pytho

[2017-10-19 00:24] stuartcampbell commented on #205
I think this type of problem is something that we will need in more and more cases in the future, so it might be worth understanding the issues now and coming up with a 'recipe' for how we deal with using `nvcc` and cuda stuff...

...now all we need is a volunteer to look into it 😈

[2017-10-27 21:49] licode opened #212 "remove readline"
new version is not stable. we will manually build it later if needed.

[2017-10-27 21:51] tacaswell commented on #212
I do not think it is the readline version that in bad, but the packaging relative to ncurses.

[2017-10-30 20:54] licode commented on #212
closed via https://github.com/NSLS-II/lightsource2-recipes/pull/213

[2017-10-30 20:54] #212 closed

[2017-12-20 21:37] danielballan commented on #181
This should happen before we deploy.

[2018-01-08 21:27] #203 closed

[2018-01-09 21:35] danielballan opened #236 "Create a xicam package and a 11-bm-cms-analysis metapackage that depends on it."

[2018-01-09 21:48] danielballan opened #237 "Create a 28-ID-2 metapackage."
Once merged, add it to `extra_packages` in the `production` inventory in NSLS-II/playbooks.

[2018-01-19 18:20] CJ-Wright opened #255 "Auto pull recipes from conda forge"
It might be nice to have a system which trolls through conda forge for new versions of the recipes.

[2018-01-19 19:57] danielballan commented on #255
Definitely! I don't like our current system of copy/paste, and this has been bothering me.

If we did adopt a tool for this it would have to be _really_ simple because we already have more complexity around the build system than we have the capacity to maintain.

[2018-01-19 19:59] jrmlhermitte commented on #237
looks like #16 half closes this. will you take care of adding to production or should i go ahead? (ping me when PR if yes)

[2018-01-19 19:59] danielballan commented on #237
Closed by #254

See https://github.com/NSLS-II/playbooks/pull/20 for the corresponding up in the inventory.

[2018-01-19 19:59] danielballan commented on #237
Ha! Jinx!

[2018-01-19 20:00] jrmlhermitte commented on #237
oops edited from 16 -> 254 in PR ref

(i figured you may have been doing it why i asked :-D)

[2018-01-19 20:12] #237 closed

[2018-01-19 21:50] CJ-Wright commented on #255
Just for locality (this was in a PR comment), this is what I currently run:
[code]
This plus Travis (running a nightly cron job) plus doctr to push the new recipes back to github could be all you needed to have a running system.

Only major changes here would be a revert of the deletion if the wget failed.

@justcalamari

[2018-04-09 02:45] mrakitin opened #288 "Add/mirror peakutils"
It's used in the [SMI's collection profile](https://github.com/NSLS-II-SMI/ipython_ophyd/commit/bda6624fbf1f0147eb714c711f18081d15a97d3b), should be added as an extra package during the 2018-2.0 deployment.

https://anaconda.org/GSECARS/peakutils
https://bitbucket.org/lucashnegri/peakutils

[2018-04-17 21:52] #288 closed

[2018-05-02 13:36] jrmlhermitte opened #306 "add kafka to recipes"
add kafka

[2018-05-02 18:11] tacaswell opened #307 "copy pypdf2 to internal system from conda-forge"

[2018-05-14 13:09] mrakitin commented on #182
I think it's taken care of by https://github.com/NSLS-II/lightsource2-recipes/pull/303 and https://github.com/NSLS-II/lightsource2-recipes/pull/310.

[2018-05-14 13:09] #182 closed

[2018-05-14 13:17] mrakitin commented on #81
Is there any progress on the issue?

[2018-05-14 13:17] mrakitin commented on #307
What's the motivation?

[2018-05-14 18:07] CJ-Wright commented on #81
I believe that some of the updates went in but if course we need more for this coming cycle, we haven't tagged the new versions though.

[2018-05-14 22:38] jrmlhermitte opened #331 "lmfit and scikit beam"
We should eventually remove the strict dep of scikit-beam on lmfit:
- find out why we have it exactly again
- update lmfit
- change this line here [here](https://github.com/NSLS-II/lightsource2-recipes/blob/master/recipes-tag/scikit-beam/meta.yaml#L33)

curently, xray larch requires `lmfit.lineshapes.moffat` which is only available in a later version of `lmfit`. So we now have an incompatibility b

[2018-05-15 22:58] mrakitin opened #339 "lmfit: get rid of versioned folders"
#338 introduced the second `lmfit-0.9.9`. We need to just keep one version named `lmfit`.

[2018-05-16 14:37] jrmlhermitte commented on #331
5 tests currently fail, related to xrf:
[code]

[2018-05-16 20:53] mrakitin opened #346 "pygobject3: fix the build"
On https://hub.docker.com/r/nsls2/debian-with-miniconda/ it fails with missing `py3cairo`:
[code]
Note: I may have played with updating the GLIB to version higher than 2.38.0. Originally the error was (if I remember correctly):
[code]

When I tried to build py3cairo, it fails with:
[code]

We may consider switching to https://gitlab.gnome.org/GNOME/pygobject/tags/3.29.2 or newer version, but an at

[2018-05-16 21:06] mrakitin opened #347 "bluesky-kafka building error"
[code]
This is the cause of the failing build:
[code]

attn @jrmlhermitte @danielballan

[2018-05-16 21:35] jrmlhermitte commented on #347
try using conda supplied version of gcc rather than the OS. sometimes that can help

[2018-05-16 21:35] jrmlhermitte commented on #347
(add gcc as a dependency)

[2018-05-16 22:06] mrakitin commented on #346
FYI: I used this link to update glib: https://ubuntuforums.org/showthread.php?t=1607632
[code]
which didn't solve the problem, but may be useful for future reference.

[2018-05-16 22:29] mrakitin commented on #347
Tried, no luck. It's not a priority at the moment, will deal with it later after the shutdown.

[2018-05-16 22:30] mrakitin commented on #347
Oh, sorry, just realized, that I tried for [pygobject3](https://github.com/NSLS-II/lightsource2-recipes/issues/346) 😃. We will try with it later after the shutdown. Thanks for the suggestion!

[2018-05-16 22:37] jrmlhermitte commented on #347
Another thing to also try:
Ulimit -s
To print stack size for debugging and try
Ulimit -s 10000000 (some large number. I think you can specify "unlimited" but I can't remember)
It can be common for c code to allocate arrays in a function without using malloced which allocates on the stack. I don't know the source of the set fault but as a hunch if it happens to come from running compiled code that'

[2018-05-17 03:13] mrakitin commented on #347
Thanks. Yes, it's `unlimited`, which I intensively used before.

[2018-05-18 15:37] mrakitin opened #349 "Conflict of scikit-beam and xraylarch in packages"
scikit-beam requires lmfit=0.8.3, but xraylarch needs lmfit>=0.9.9. That should be resolved on scikit-beam side.

Noticed at ISS during installation of the extra-packages.

[2018-05-24 14:14] #349 closed

[2018-05-30 15:17] mrakitin opened #370 "Get rid of nslsii_dev_configuration in recipes"
Found during work on #369

[2018-05-30 21:29] mrakitin opened #373 "Build pymca locally"
Request from CHX - @yugangzhang always installs pymca manually on all the collection machines at CHX. We better need to build it locally and deploy within a CHX metapackage.

Links:
- https://github.com/vasole/pymca/tree/master/conda.recipe
- https://sourceforge.net/p/pymca/code/ci/master/tree/
- https://anaconda.org/n-vigano/pymca

[2018-05-31 10:15] danielballan opened #374 "Package pyCHX."
This will involve reviewing pyCHX's `requirements.txt`.

Quoting an email from @mrakitin:

git+https://github.com/scikit-beam/scikit-beam.git#egg=scikit-beam
git+https://github.com/NSLS-II-CHX/eiger-io.git#eiger-io
git+https://github.com/NSLS-II-CHX/chxtools.git#egg=chxtools
git+https://github.com/Nikea/xray-vision.git#Xray-vision
git+https://github.com/ChrisBeaumont/mpl-modest-image

[2018-05-31 10:17] danielballan commented on #374
I have pip-installed pyCHX from source (making manual simplifications to its `requirements.txt`) into analysis-2018-2.1 on xf11id-srv1 for now to take the time pressure off of this.

[2018-06-07 12:13] jrmlhermitte opened #379 "should we remove how_long comparison from git?"
Right now, we check if a package has been changed two places
- using git [here](https://github.com/NSLS-II/lightsource2-recipes/blob/master/scripts/nsls2-tag-build.sh#L21)
- in the docker [here](https://github.com/NSLS-II/lightsource2-recipes/blob/master/scripts/nsls2-tag-build.sh#L76) . This ultimately searches using build.py , somewhere, i think [here](https://github.com/NSLS-II/lightsource2-rec

[2018-06-07 12:59] mrakitin commented on #379
I'm still thinking we need to artificially limit the number of packages attempted to build within a run, introduced in https://github.com/NSLS-II/lightsource2-recipes/pull/351, since `build.py` will still be executed within a Docker container with all corresponding preparation of the environment (takes about a minute for each package). An updated Docker config (see https://github.com/mrakitin/debi

[2018-06-07 19:01] jrmlhermitte commented on #379
I understand. After discussion that makes sense. I didn't know you added the git trick but that's a great idea!
@tacaswell suggested to on top of this force a manual build of the whole system daily just in case. I think that's a good idea.

great work @mrakitin !

[2018-06-08 18:28] mrakitin commented on #379
@jrmlhermitte, nice, yes, the git trick is here: https://github.com/NSLS-II/lightsource2-recipes/blob/3f21d7e14422073e51feb062c65dbb7de22dc055/scripts/nsls2-tag-build.sh#L22

See https://github.com/NSLS-II/debian-with-miniconda/pull/6 for the faster Docker image.

[2018-06-08 19:31] #379 closed

[2018-06-21 21:18] danielballan opened #384 "Package peakutils and put it in the analysis metapackage."
https://peakutils.readthedocs.io/en/latest/

[2018-07-27 03:03] CJ-Wright opened #391 "Bring together with conda-forge"
Is there any interest in bringing together with conda-forge?

[2018-07-29 19:46] CJ-Wright commented on #391
Sorry I should have clarified (use conda-forge's recipes (and update conda-forges to use advancements made here) not use the conda-forge binaries directly).

[2018-07-30 16:00] danielballan commented on #391
Yes, there is a plan to fork CF recipes rather than copy/paste them.

[2018-09-07 23:02] mrakitin commented on #384
@danielballan, before it's too late, do we still plan to incorporate it into the global analysis this cycle?

[2018-09-07 23:04] mrakitin opened #417 "Add/mirror inflection package"
https://pypi.org/project/inflection/

Per @bruceravel's request.

[2018-09-17 22:04] mrakitin commented on #417
Resolved by #420.

[2018-09-17 22:04] #417 closed

[2018-10-12 21:23] mrakitin opened #457 "Package https://github.com/Blosc/hdf5-blosc"
Some related issue was observed on a system in the HXN lab.

[2018-10-12 21:28] tacaswell commented on #457
I took a pass at getting this to work and was having some issues getting it to build with in conda (do not remember what exactly, was playing with this at the EPICS meeting in Chicago).

[2018-10-12 21:32] mrakitin commented on #457
I see. The compilation instructions from https://github.com/Blosc/hdf5-blosc/blob/master/travis-before-install.sh and https://github.com/Blosc/hdf5-blosc/blob/master/.travis.yml suggest we have to use cmake. I've never tried it.

[2018-10-12 21:36] tacaswell commented on #457
cmake is pretty good (and @stuartcampbell is an expert :smiling_imp: ).  I now have a vague memory that my issue was not knowing what values to set in CMAKE to convince it to install into conda prefix path.  I did get it to build, put the artifact in the right place and saw that it worked.

[2018-10-19 20:14] stuartcampbell commented on #457
Just catching up with my backlog - do you want me to have a look ?

[2018-10-19 20:20] mrakitin commented on #457
Yes please, if you can.

[2018-12-07 19:07] stuartcampbell opened #477 "Import pyfftw from conda-forge"
https://github.com/conda-forge/pyfftw-feedstock

[2018-12-07 19:45] mrakitin commented on #477
Built and pushed to https://anaconda.org/lightsource2-tag/pyfftw.

[2018-12-07 19:55] mrakitin commented on #477
The built package failed to install into FXI's `collection-2018-3.2` env:
[code]
I'll have to have a look why it's conflicting and rework the recipe.

[2018-12-07 21:06] mrakitin commented on #477
OK, 09279d0 resolved the issue. The package was pushed to the `collection-2018-3.2` and `analysis-2018-3.2` envs of FXI.

[2018-12-07 21:09] #477 closed

[2018-12-08 02:34] licode commented on #477
thanks for quickly taking care of this, @mrakitin

[2018-12-16 15:55] danielballan opened #479 "Sort out ipywidgets version problem"
In the SIX environment, ipywidgets is installed both with conda and with pip. The version installed with pip _is_ compatible with the JS frontend, but the version installed with conda is not. We should make sure that only one version gets installed for the upcoming cycle.

[2018-12-16 16:06] danielballan opened #480 "Add pyfftw to facility-wide analysis package"
Seems likely to be widely useful, has been incidentally requested at various times by a couple beamlines now.

[2018-12-17 18:59] mrakitin commented on #479
That was me who installed the pip-version on top of conda version at SIX due to the conda version was tightly coupled to the environment as a part of the [analysis metapackage](https://github.com/NSLS-II/lightsource2-recipes/blob/master/recipes-tag/analysis/meta.yaml), so removing it wasn't possible. We have already [pinned](https://github.com/NSLS-II/lightsource2-recipes/pull/466) the versions of

[2019-01-03 20:03] #480 closed

[2019-01-03 23:20] danielballan commented on #479
To recap conversation on Slack for the record, the version of ipywidgets deployed in 2018-3.[0-2] is not compatible with the version of ipympl we are using. In https://github.com/NSLS-II/lightsource2-recipes/pull/466 we pin ipywidgets to fix that, but that never went out to SIX, so they installed the pinned version of ipywidgets over top of conda using pip.

The new environments will get a mutuall

[2019-01-03 23:20] #479 closed

[2019-01-04 18:44] danielballan opened #495 "Consider naming metapackages by acronym instead of sector."

[2019-01-04 18:47] danielballan opened #497 "Use the acronym as the group and the source (sector) as inventory metadata"
This is the opposite of what we are doing now.

[2019-01-04 19:34] mrakitin commented on #497
@danielballan, was it intentionally placed here or should be transferred to https://github.com/NSLS-II/playbooks?

[2019-01-07 18:14] mrakitin opened #499 "Build pystackreg for FXI"
Per @gmysage's request.

[2019-01-07 18:32] danielballan commented on #499
Interesting. I've looked at a handful of image registration software in Python but this one is new to me. https://pystackreg.readthedocs.io/en/latest/

[2019-01-08 14:32] gmysage commented on #499
Hi Dan,

I find this package works pretty well. The algorithm is originally written
in java and implemented in imagej.

Mingyuan

On Mon, Jan 7, 2019 at 1:32 PM Dan Allan <notifications@github.com> wrote:

--
Mingyuan Ge

[2019-01-09 00:57] mrakitin opened #509 "Set up TravisCI integration and validate meta.yaml files"
[conda-verify](https://github.com/conda/conda-verify) can be used for that purpose.

[2019-01-09 00:58] danielballan commented on #509
Good idea. Seems like an open question whether we should do this before or after reorganizing this from one "monorepo" into a constellation of repos, one per package, forked from conda-forge.

[2019-01-18 16:23] gwbischof opened #517 "Add cookie cutter to analysis"

[2019-01-18 16:37] danielballan commented on #517
When you have a moment, can you provide more context here, @gwbischof?

[2019-01-21 17:49] tacaswell commented on #495
I think we should remove the sector numbers from DAMA related things because we want to track things to the science program, not to the physical location.

If the beamline were to move sectors (seem unlikely..) we would want the software environments to follow the program and if a sector has a new science program put in place (and gets a new acronym) we will want to have new environments for the n

[2019-01-22 20:31] mrakitin opened #518 "QAS needs xraylarch in collection env"
Discovered with @lcdesilva and @elistavitski.

[2019-01-25 15:41] #518 closed

[2019-01-26 05:04] leofang opened #523 "Avoid shared memory bug in openmpi>=3.1.2"
Currently we build v3.1.2 in `nsls2-tag`:
https://github.com/NSLS-II/lightsource2-recipes/blob/87723db7b7d8c3b7475b1e478ac1a394326dec48/recipes-tag/openmpi/meta.yaml#L2
However, this version seems to be buggy. If one spawns a few MPI processes, let them do some work, but terminate them abnormally (`Ctrl-C` and whatnot), it can be seen that in `/dev/shm/` there will be shared memory segments relate

[2019-01-29 04:39] tacaswell commented on #523
@leofang can you sync our recipe with the conda-forge one (which sadly for now is a copy-paste job :disappointed: )

[2019-01-29 16:45] leofang commented on #523
Sure, happy to do. But let me first check with Open MPI people and see if this is a known bug or caused by other problems.

[2019-01-29 16:48] leofang commented on #523
@tacaswell since you brought up, I'd also like to copy and paste the conda-forge recipes for `mpi4py` and `mpich`. This would solve the MPI nuisance. Is it OK?

[2019-01-29 21:44] stuartcampbell commented on #523
@leofang Definately - go ahead

[2019-02-01 19:24] mrakitin opened #544 "Make bluesky, ophyd, databroker noarch?"
A guy from Berlin's workshop tried to install Bluesky on Windows from our conda channel, but it failed due to the packages are Linux-specific. Can we consider making them noarch? Or are there any packages, which we cannot have cross-platform?

[2019-02-01 19:43] danielballan commented on #544
I don't know what conda's official position on 'noarch' is, but I've heard from one of the core devs that it's a regrettable feature because it may _claim_ to work on all architectures but it doesn't mean it's actually been successfully _run_ on any given architecture. Better to build arch-specific packages to be sure.

I would be in favor of getting our 1.0+ packages on conda forge, where I think

[2019-02-01 20:43] CJ-Wright commented on #544
All the nsls-ii developed stack is on conda forge. I think most of them are noarch. Currently all the conda forge noarch packages are built on a Linux docker image.

I think noarch is not as bad as it seems, as it allows us to cut down on CI usage and many pure python packages have no architecture dependant issues.

[2019-02-04 18:54] mrakitin opened #551 "Take care of multiple packages built with one meta.yaml"
The problem is that a package like https://github.com/NSLS-II/lightsource2-recipes/blob/master/recipes-tag/mpi/meta.yaml generates 2 packages:
[code]

which both should be uploaded. However, the current approach in our building system is to upload only one package. This should be resolved. See the relevant code here: https://github.com/NSLS-II/lightsource2-recipes/blob/eea94164d7db8f9293562cad7415

[2019-02-04 22:50] #551 closed

[2019-02-05 00:03] leofang opened #556 "rebuild packages generated from single recipes"
In principle in one Conda recipe we can generate as many packages as we want, but our build script limited it to 1 package per recipe. This limitation is lifted by ~~PR #555~~ #559 , so @mrakitin suggested it's worth rebuilding those affected, including MPI-related stuff (@leofang) and matplotlib (@tacaswell).

[2019-02-05 02:19] leofang commented on #556
Make sure #557 is merged before rebuilding!

[2019-02-05 15:40] leofang opened #558 "better support for mpicc, mpicxx, and mpifort"
Currently the MPI wrapper compilers `mpicc`, `mpicxx`, and `mpifort` are not guaranteed to work out of box unless the corresponding host compilers (`gcc_linux-64`, `gxx_linux-64`, and `gfortran_linux-64` in Linux) are also installed in the Conda environment, see https://github.com/conda-forge/openmpi-feedstock/issues/34#issuecomment-460663987:

A solution just merged to conda-forge feedstocks yest

[2019-02-05 16:16] leofang commented on #558
more context: conda-forge/mpich-feedstock/issues/25

[2019-02-05 17:02] mrakitin commented on #558
Good to know. Thanks for the links. Agree to wait a bit and see how good this solution is.

[2019-02-06 15:15] minrk commented on #558
I'm not sure which packages you are using these in, but FWIW if you have a package that requires MPI *as a compiler*, you can depend on both mpi and the given compiler as runtime requirements, e.g.:

[code]

This is the ultimately the same as the new `mpich-mpicc` package, but more explicit if it's an actual requirement. The `mpich-mpicc` package and friends are meant really only for *users*, wher

[2019-02-08 03:07] leofang commented on #558
Thanks @minrk for the comment. This is indeed better for packages requiring an MPI compiler. This issue was opened mainly to document my observation that using MPI as a compiler, as you put it, requires a bit of change. However, I suspect most of our users don't need any MPI compiler.

[2019-02-16 03:38] leofang commented on #523
ref: open-mpi/ompi/issues/6322

[2019-02-28 19:12] prjemian commented on #544
For what it's worth, here is what I have done recently to install on Windows10-64:

https://github.com/BCDA-APS/use_bluesky/blob/master/python_installation/windows.md

[2019-02-28 19:14] prjemian commented on #544
That is, using pip to install from GitHub master as-if *noarch* since, practically, this code for the most part *is* noarch.

[2019-02-28 22:23] prjemian opened #571 "link broken in README.md"
It says: "Here is a link to the conda package version matching specifications for convenience."

The link is broken.  Perhaps it has moved here?

https://docs.conda.io/projects/conda-build/en/latest/source/resources/package-spec.html#package-match-specifications

[2019-03-01 11:04] #571 closed

[2019-03-01 21:06] #523 closed

[2019-03-06 23:53] mrakitin commented on #556
I just realized we can now properly rebuild matplotlib. Will take a look tomorrow.

[2019-03-06 23:58] mrakitin opened #582 "Check a package exists on anaconda just before uploading"
As discussed in Slack with @leofang, we should check if the package exists in the Anaconda Cloud twice:
- first time when we [decide what to built](https://github.com/NSLS-II/lightsource2-recipes/blob/7402f5c82963d1b0d8328692e93632c6a81f03cc/scripts/build.py#L310)
- second time when the package is built just before the uploading [here](https://github.com/NSLS-II/lightsource2-recipes/blob/7402f5c82

[2019-03-10 04:17] leofang commented on #556
I suppose this issue can be closed since #585 is merged?

[2019-03-10 15:16] mrakitin commented on #556
Yes.

[2019-03-10 15:16] #556 closed

[2019-03-11 21:11] mrakitin commented on #517
@gwbischof, do you have an update on this issue?

[2019-03-11 21:12] mrakitin commented on #509
Closing for now.

[2019-03-11 21:12] #509 closed

[2019-03-13 14:55] leofang commented on #582
I have a few stupid questions: How do the cron jobs work? Can't we build only one recipe per cron job? Or perhaps when the first cron job starts, we can leave a temp file in disk stating what packages it is handling, and ask the subsequent cron jobs to read that list to avoid collision? (Just trying to figure out how things work...)

[2019-03-13 15:30] mrakitin commented on #582
It currently runs every 15 minutes on freyja, and checks the packages updated for the last 3 days (can be changed) here: https://github.com/NSLS-II/lightsource2-recipes/blob/02bf8a9943cca37eecc49dead0b46f578463a42e/scripts/nsls2-tag-build.sh#L21-L22

It's not ideal as every 15 minutes it runs a docker container to check if that package was built already, even if it was built before. We will improv

[2019-03-14 23:30] gwbischof commented on #517
I don't know any more details. @danielballan didn't you ask me to add this when we were working together?

[2019-03-15 01:15] tacaswell commented on #517
Adding https://pypi.org/project/cookiecutter/ to the base analysis enviroment seems like a good idea so we are sure that we will be able to run the cookie cutters on the floor!

[2019-03-15 12:13] mrakitin commented on #517
I checked the [conda-forge feedstock](https://github.com/conda-forge/cookiecutter-feedstock/blob/master/recipe/meta.yaml) recipe for the package. It has a bunch of extra dependencies which are not available in `defaults`. We should target this work for the July deployment.

[2019-03-15 13:51] danielballan commented on #517
@gwbischof I'm sure you are right; I probably just forgot. I don't remember now. Anyway, agreed that this is worth doing and should be targeted for July given the dependency hurdles noted by @mrakitin.

[2019-03-15 14:21] mrakitin commented on #307
We have this package already: https://anaconda.org/lightsource2-tag/pypdf2/files. Closing the issue.

[2019-03-15 14:21] #307 closed

[2019-03-15 14:23] mrakitin commented on #236
It's Python 2 only for Xi-Cam 1. Will put it to the "Undefined" milestone.

[2019-03-15 14:27] mrakitin commented on #499
This has been implemented - we now have a package in out conda channel: https://anaconda.org/lightsource2-tag/pystackreg/files. We need to add it to the beamline metapackages.

[2019-03-15 14:36] mrakitin commented on #499
Oh, the package actually was added to the metapackage via https://github.com/NSLS-II/lightsource2-recipes/pull/516.

[2019-03-15 14:36] #499 closed

[2019-03-15 15:04] mrakitin commented on #81
@CJ-Wright is managing the xpd* stack now, and the packages seem to be in a good shape. Closing.

[2019-03-15 15:04] #81 closed

[2019-03-15 15:36] mrakitin commented on #374
We now have the package maintained by @yugangzhang: https://anaconda.org/lightsource2-tag/pychx/files.

[2019-03-15 15:36] #374 closed

[2019-03-15 15:38] mrakitin commented on #346
It was resolved via https://github.com/NSLS-II/lightsource2-recipes/pull/472.

[2019-03-15 15:38] #346 closed

[2019-03-15 15:48] #384 closed

[2019-03-15 15:51] mrakitin commented on #370
Update:
[code]

[2019-03-15 15:54] mrakitin commented on #331
Just discussed it with @licode, this is used in PyXRF <-- scikit-beam <-- lmfit (old version). No new version was implemented.

[2019-03-15 15:56] mrakitin commented on #67
We currently don't use anything from conda-forge directly. Closing.

[2019-03-15 15:56] #67 closed

[2019-03-18 19:32] mrakitin opened #620 "Deploy doi2bib on the floor"
This may be convenient for BL staff to get the bib-style entries from the DOIs (it was raised during the division meeting a month ago, followed by the PR https://github.com/NSLS-II/lightsource2-recipes/pull/562) if this package is readily available in the analysis (and collection) environments.

Links:
- https://github.com/NSLS-II/lightsource2-recipes/tree/master/recipes-tag/doi2bib
- https://anac

[2019-03-18 20:06] mrakitin opened #621 "Should we use strict matching of versions?"
Here is my observation: as we bump version of the packages in the [analysis](https://github.com/NSLS-II/lightsource2-recipes/blob/master/recipes-tag/analysis/meta.yaml) or [collection](https://github.com/NSLS-II/lightsource2-recipes/blob/master/recipes-tag/collection/meta.yaml) metapackage, we limit the lowest possible version, but we don't limit the highest possible one. This results in unreprodu

[2019-04-02 16:06] mrakitin opened #625 "Sort out mayavi build issue"
It was attempted to build via https://github.com/NSLS-II/lightsource2-recipes/pull/604, but we eventually gave up in https://github.com/NSLS-II/lightsource2-recipes/pull/612.

[2019-04-02 16:31] mrakitin commented on #625
No, it still fails with:
[code]

[2019-04-02 16:36] CJ-Wright commented on #625
where is that coming from?

[2019-04-02 16:49] mrakitin commented on #625
A more detailed traceback:
[code]

[2019-04-02 16:54] CJ-Wright commented on #625
Interesting, the defaults py37 vtk build is 8.2.

[2019-04-02 16:56] CJ-Wright commented on #625
It seems that the newest mayavi recipe from CF supports vtk 8.2

[2019-04-02 17:37] mrakitin commented on #625
Cool! Will look into updating it later.

[2019-04-02 18:27] mrakitin commented on #625
It seems to be resolved via #627.

[2019-04-03 00:32] mrakitin opened #628 "Build bpy"
A CHX user's requested to build [bpy](https://pypi.org/project/bpy/). Here is what we found about this non-standard package:
- requires https://github.com/asottile/future-fstrings to be installed;
- needs `cmake` to build the package.

I spent some time trying to install `cmake` in our Debian 7.9 Docker image, but it fails due to the repositories were archived/moved from the standard location. @ta

[2019-04-03 00:36] mrakitin commented on #628
The issue above was resolved by `conda install jpeg`, however the following error came up:
[code]
That one was resolved by `conda install libpng`. Next bunch of errors:
[code]

[2019-04-03 02:15] #625 closed

[2019-04-03 17:00] mrakitin opened #629 "Package (and deploy) APS beamline snapshot tool"
@prjemian's tool, https://aps-bluesky-tools.readthedocs.io/en/latest/snapshot.html.

We can target it to July's deployment in the spirit of incorporating at least one external tool from collaborators into our environments.

[2019-04-03 17:02] mrakitin commented on #629
xref https://3.basecamp.com/3733838/buckets/10667221/todos/1562751067.

[2019-04-03 18:57] prjemian commented on #629
wow!  I need to be careful about updates and features.  Thanks for the notice!

[2019-04-03 20:19] mrakitin commented on #629
Thanks for sharing the tool with us, @prjemian! We will try it soon.

[2019-04-04 06:39] mrakitin opened #630 "look into how conda forge implements their build system"
https://github.com/conda/conda-concourse-ci

[2019-04-04 06:39] mrakitin commented on #630
➤ Julien Lhermitte commented:

might be a good idea to see how they build, and try to eventually mimick it

[2019-04-04 06:39] mrakitin opened #631 "Move out some conda-forge packages"
(we can defer this to later if needed)

and comment out this line here. (Same for the other build scripts in that folder) When commented out, at each "package missing" seen, add it into our packages (keep doing this until we don't see anything)

conda-forge packages we need to install locally (just a subset):
conda-execute
slacker

[2019-04-04 06:39] mrakitin commented on #631
➤ Julien Lhermitte commented:

basically, there's a line here:
https://github.com/NSLS-II/lightsource2-recipes/blob/master/scripts/nsls2-tag-build.sh#L52

we need to remove that and ensure everything still builds fine. doing so will require making sure we have no conda-forge dependencies (so having our own source install for anything not in anaconda channel)

[@Maksim](https://3.basecamp-static.co

[2019-04-04 06:39] mrakitin opened #632 "Add network --host to build script"
First confirm with group this is okay (in a pr to recipes)

[2019-04-04 06:39] mrakitin commented on #632
➤ Julien Lhermitte commented:

This was an issue I had here when playing on thuban:
Testing on thuban - packaging and deployment ( https://3.basecamp.com/3733838/buckets/4534819/messages/1114837477 )

I noticed that there was some issue with the network bridge. When I removed it by adding the "--network host" flag, everything worked fine. If there are issues with docker not being able to see the o

[2019-04-04 06:39] mrakitin opened #633 "run memcheck on freyja"

[2019-04-04 06:39] mrakitin opened #634 "check and fix the version of docker installed on freyja"

[2019-04-04 06:39] mrakitin commented on #634
[mrakitin@freyja ~]$ docker --version
Docker version 18.06.1-ce, build e68fc7a

[2019-04-04 06:39] mrakitin commented on #634
➤ Thomas Caswell commented:

I meant "check and fix so it stops falling over" ;)

[2019-04-04 06:39] mrakitin commented on #634
[@Li](https://3.basecamp-static.com/3733838/people/BAhpAxd%2FtA==--d4bb25d7f837bb85196e29a5fc5c9d5edc61c0ca/avatar-20-x1?v=1), did you do anything regarding it? If not, I think we should reinstall docker there.

[2019-04-04 06:39] mrakitin commented on #634
➤ Li Li commented:

I think first we need to find better way to clean up docker images before they accumulate too much, and also check if there is any way to initiate less number of dockers based on building script. The same docker version worked ok a few months ago.

[2019-04-04 06:39] mrakitin opened #635 "copy files directly to alexandria"
Do not require bouncing through the external host

Maybe invert the mirroring to push out from alexandria to the public one?

[2019-04-04 06:39] mrakitin commented on #635
[@Li](https://3.basecamp-static.com/3733838/people/BAhpAxd%2FtA==--d4bb25d7f837bb85196e29a5fc5c9d5edc61c0ca/avatar-20-x1?v=1), what was changed in particular? Thanks.

[2019-04-04 06:39] mrakitin commented on #635
➤ Li Li commented:

I think it is summarized here Build local folder to store packages, to replace commercial anaconda server - packaging and deployment ( https://3.basecamp.com/3733838/buckets/4534819/messages/1286927033 )

no particular update since then.

[2019-04-04 06:39] mrakitin commented on #635
I think it's a separate task. What [@Thomas](https://3.basecamp-static.com/3733838/people/BAhpAwcstA==--48200ab232c7d2c91cbf992f57ca1d2270762e54/avatar-20-x1?v=1) meant is to push the built packages directly to alexandria rather than to our public channel and then mirror it to alexandria, i.e. it now should be a reverse process:

  * build a packag
  * push to alexandria
  * mirror to the external

[2019-04-04 06:39] mrakitin commented on #635
➤ Li Li commented:

thanks for reminding. Then it is not done yet. I will work on it later.

[2019-04-04 06:39] mrakitin opened #636 "add ansible job to recover what environments are actually on each machine"
https://paper.dropbox.com/doc/Rollout-debrief--AO1FhTFyAXma2d~ptebY_8WvAg-VkQKRimCNwZaA0ULW0wSy

[2019-04-04 06:39] mrakitin opened #637 "mirror "defaults" channel"
Per our discussion in https://github.com/NSLS-II/playbooks/pull/161#issuecomment-436069787.

[2019-04-04 06:39] mrakitin opened #638 "test"

[2019-04-04 13:36] #638 closed

[2019-04-09 15:30] mrakitin opened #647 "Problem with using pyFAI"
Observed with @awalter-bnl and @gfreychet during the SMI deployment 19-2.
[code]

[2019-04-09 20:49] mrakitin commented on #647
@CJ-Wright, are you observing the same issue?

[2019-04-09 21:11] CJ-Wright commented on #647
Not exactly but that is because I hit it through skbeam, but I expect they are from the same source (the need for a fabio rebuild)
[code]

[2019-04-09 21:27] mrakitin commented on #647
Last time it was touched was https://github.com/NSLS-II/lightsource2-recipes/pull/508. The only major thing which changed since then (Jan 14, 2019) was patching the metadata on our server. Maybe it caused picking a wrong dependency, or something like that. Any thoughts? Can it be reproduced within a Docker container https://hub.docker.com/r/nsls2/debian-with-miniconda/tags/?

[2019-04-09 21:33] CJ-Wright commented on #647
I think the issue is not pyfai but fabio. Fabio has C/C++ bindings and has bindings to numpy. If any of those moved between the most recent fabio build and what is getting shipped in the current environments then that could cause trouble.

[2019-04-09 21:38] mrakitin commented on #647
It makes sense. I touched fabio last time while making it buildable for Mac: https://github.com/NSLS-II/lightsource2-recipes/pull/576. I think it also caused some warning for `_tifffile` with the new envs 2019-2.0. Any ideas how to resolve it?

[2019-04-14 06:33] #637 closed

[2019-04-14 13:01] mrakitin commented on #637
This was actually done.

[2019-04-14 13:04] mrakitin commented on #635
The issue was erroneously closed by unito.io.

[2019-04-14 13:04] mrakitin commented on #634
The issue was erroneously closed by unito.io.

[2019-04-14 13:05] mrakitin commented on #637
The issue was erroneously closed by unito.io, but it was actually done.

[2019-04-17 19:56] mrakitin opened #660 "Write documentation about freyja"
@ke-zhang-rd and @CJ-Wright asked about it recently.

[2019-04-29 14:26] mrakitin opened #665 "Package dataclasses for Python 3.6"
Needed for the XPS work by @awalter-bnl.

[2019-04-29 20:25] #665 closed

[2019-05-06 14:16] mrakitin opened #672 "Package 'hunter' if it's useful for us"
- https://github.com/ionelmc/python-hunter
- https://pypi.org/project/hunter/

[2019-05-13 16:09] leofang opened #674 "Bump Open MPI to v4.0.x"
We recently encountered many issues with Open MPI v3.1.x, see, e.g., open-mpi/ompi/issues/6322 and open-mpi/ompi/issues/6642. Given it's unreliability, updating to v4.0.x series may be the way out. I will try bumping the version in our Conda recipe to v4.0.2 when it's released so that both v3 and v4 exist in our channel, and users can upgrade/downgrade freely as they wish.

[2019-05-13 19:10] stuartcampbell opened #675 "Package xrt"
Joe Dvorak has requested to have this package available locally.

Homepage: https://xrt.readthedocs.io/
GitHub: https://github.com/kklmn/xrt

[2019-06-05 17:37] #634 closed

[2019-06-07 01:00] leofang opened #680 "Build pyfftw for Python 3.7"
During testing for leofang/ptycho_gui#20 I found that we only built the py36 version:
[code]
This will be needed in the near future.

[2019-06-07 01:16] #680 closed

[2019-06-07 20:01] ke-zhang-rd commented on #672
This will be tested first and won't be deployed 2019C3.0

[2019-06-07 20:05] ke-zhang-rd commented on #647
close by #656

[2019-06-07 20:05] #647 closed

[2019-06-07 20:08] #635 closed

[2019-06-07 20:09] ke-zhang-rd commented on #633
@tacaswell do you still working on this?

[2019-06-07 20:18] mrakitin commented on #633
I think it's a leftover issue of the synchronization by the https://unito.io/basecamp-sync/ app. Can keep it in Basecamp, closing here.

[2019-06-07 20:18] #633 closed

[2019-06-10 20:00] ke-zhang-rd opened #695 "6BM beamline specific package adding"
Bruce request add package`XrayDB`, `toml` and `ansiwrap` to this beamline

[2019-06-14 17:46] leofang opened #712 "Initiating a discussion on support more package variants"
To make https://github.com/NSLS-II/lightsource2-recipes/pull/486#discussion_r291437307 a standalone issue. Text below are revised based on that comment.

First, some packages and libraries support using (NVIDIA) GPUs. Taking the MPI libraries as an example, they can be "CUDA-aware" by passing the `--with-cuda` flag or alike to the configure script so that the MPI library is built and linked agains

[2019-06-15 06:33] leofang commented on #712
Just did a bit search. For h5py + MPI, this is conda-forge's solution:
https://github.com/conda-forge/h5py-feedstock/blob/master/recipe/meta.yaml
Not sure if we have room to chain more info in the build string though.

[2019-06-15 18:13] CJ-Wright commented on #712
I would advise making use of the outputs key, to handle the downstream variants. See https://github.com/conda-forge/airflow-feedstock/blob/master/recipe/meta.yaml
I would also advise not taking the path that airflow took by writing out everything by hand. At that point I think using the jinja2 approach would be cleaner and less prone to errors.

Note that conda-froge doesn't build GPU versions of

[2019-06-16 14:34] leofang commented on #712
@CJ-Wright So you mean something like `- name: {{ name }}-with-openmpi-cuda_aware-cuda91`?

I know that `cudatoolkit` is currently not suitable for downstream packages to depend on. This is partly why I opened this issue: for the time being if we need a homegrown solution for GPU support. Most likely, we should install latest CUDA toolkit in the docker image, and let `nvcc` build backward compatib

[2019-06-16 14:35] leofang commented on #712
btw, @CJ-Wright, why is output key better than build string?

[2019-06-16 15:50] mrakitin commented on #712
I don't have a strong opinion on that topic as it's pretty new to me. Do we need real GPUs to use nvcc?

[2019-06-16 21:28] leofang commented on #712
No. nvcc can be run without GPUs. For example, in the Institutional Cluster (part of SDCC) the submit machines do not have GPU, but we can build CUDA programs there and then submit GPU jobs. The key is to install CUDA toolkit in the default path (`/usr/local/cuda/` in Linux).

[2019-06-17 00:02] CJ-Wright commented on #712
Yes but I would do that as
[code]
kind of thing (you'd need to work on that a little bit more but that is the basic gist).

I think this is a bit more explicit for users, since they ask for the exact thing that they want in the package name. Although the principle of jinja2 templating would be the same.

[2019-06-17 00:50] leofang commented on #712
Yes yes I agree with you @CJ-Wright. I was thinking about the same approach but forgot about jinja.

[2019-06-24 14:51] leofang commented on #712
After thinking about this a bit, I changed my mind and I'm in favor of the build string approach. For example, the output name approach would be too obscure for general users who just want to install the current default:
[code]
which should really just be `conda install h5py` as it is now.

For the record, h5py supports variants through build string, see https://github.com/conda-forge/h5py-feedsto

[2019-06-24 15:13] CJ-Wright commented on #712
Higher build numbers are preferred, so conda will use the nompi unless you ask otherwise.

[2019-06-25 13:57] mrakitin commented on #695
Per our previous discussion, xraydb seems to be abandoned. I asked if it's possible to get a final tag so that we can use it for builds.

@ke-zhang-rd, do you want to create a PR to add the last 2 packages to the beamline metapackage meantime? `toml` is available in `defaults` and `ansiwrap` is in our channel, so nothing to build.

[2019-06-25 14:29] mrakitin opened #736 "GIT_* variables in the version specification"
A recent update (#725) uses `GIT_DESCRIBE_TAG` and `GIT_DESCRIBE_NUMBER` to construct the version of the package:
https://github.com/NSLS-II/lightsource2-recipes/blob/9cc92be09ddcfb494efa5370dbf0267ded0e9b08/recipes-tag/lmfit-c/meta.yaml#L3

However, before the source archive is downloaded, we have no way to get these variables, and construct a valid version. This results in a negative check that

[2019-06-25 14:30] mrakitin commented on #736
@stuwilkins, can we update it so that GIT vars are not used?

[2019-06-25 14:48] ke-zhang-rd commented on #695
@mrakitin This was added already and built.
https://github.com/NSLS-II/lightsource2-recipes/blob/master/recipes-tag/06-bm-bmm-collection/meta.yaml#L14
I will close this Issue.

[2019-06-25 15:06] mrakitin commented on #695
Thanks @ke-zhang-rd. I was confused there is no associated links to the relevant PR. Looks like it was done via #704.

Please do not close the issue yet as there may be a chance to get the package for `xraydb`. Let's keep an eye on my question https://github.com/scikit-beam/XrayDB/issues/20#issuecomment-505455580.

[2019-06-25 15:18] leofang commented on #736
If the expected outcome is `['lmfit-c-8.2.2.post27-10.tar.bz2']`, perhaps you can just pin to a specific tag like https://github.com/NSLS-II/lmfit/releases/tag/v8.2.2?

[2019-06-25 20:29] mrakitin commented on #736
Thanks @stuwilkins, your change resolved the issue in question.

Right now I am observing another problem with pinning `numpy x.x`, when the generated package name is `pycentroids-0.1.6-np114py37_0.tar.bz2`, but from the recipe it's parsed as `pycentroids-0.1.6-npxxpy37_0.tar.bz2'`. This causes a failure on checking already built packages.

I think we can solve it using conda-forge's approach, e.g

[2019-06-26 13:58] #736 closed

[2019-09-04 12:31] mrakitin commented on #674
It might have been taken care of by https://github.com/nsls-ii-forge/openmpi-mpi-feedstock. Please check it out.

[2019-09-04 13:11] mrakitin commented on #695
It may be worth to build from https://pypi.org/project/xraydb/4.1/#files / https://github.com/xraypy/XrayDB/releases/tag/4.1.

[2019-09-04 21:41] #339 closed

[2019-09-06 02:13] leofang commented on #674
That's nice! Which channel will the new packages live? I'd like to test them first before closing.

[2019-09-06 02:26] mrakitin commented on #674
`conda install -c nsls2forge <pkg-name>` should work.

[2019-09-18 17:46] leofang commented on #712
A GPU version of tomopy is added to conda-forge: conda-forge/tomopy-feedstock#25. I'd like to try that approach to resolve this issue.

[2019-09-18 17:54] leofang commented on #712
Conda's support of CUDA detection: https://github.com/conda/conda/blob/0fd7941d545ef47930da10ea297b6c174050b1de/docs/source/user-guide/tasks/manage-virtual.rst

[2019-09-18 18:06] mrakitin commented on #712
Yeah, saw it yesterday, wanted to let you know, @leofang, but you were faster :).

[2019-09-20 18:47] leofang commented on #712
Conda-forge now has an official policy for MPI support: https://conda-forge.org/docs/maintainer/knowledge_base.html#message-passing-interface-mpi

[2019-09-22 18:26] #675 closed

[2019-09-22 19:18] mrakitin commented on #660
Superseded by https://nsls-ii-forge.github.io/docs.

[2019-09-22 19:18] #660 closed

[2019-09-22 19:19] mrakitin commented on #632
I don't think it's relevant anymore.

[2019-09-22 19:19] #632 closed

[2019-09-22 19:20] mrakitin commented on #205
The package itself was added. Closing this issue as resolved. If some specific issue is needed, a separate issue/PR should be opened, preferably to https://github.com/nsls-ii-forge/oscars-feedstock.

[2019-09-22 19:20] #205 closed

[2019-09-22 19:22] mrakitin commented on #153
Seems like a good project. Someone will be assigned to create a recipe/feedstock in https://github.com/nsls-ii-forge for the project as an exercise to learn `conda-smithy`: https://nsls-ii-forge.github.io/docs.

[2019-09-22 19:25] mrakitin commented on #695
The package was build via https://github.com/nsls-ii-forge/xraydb-feedstock, will be added to the BL-specific metapackage. Need to keep a record of it as an open issue before we actually do the update via https://github.com/nsls-ii-forge.

[2019-09-22 19:27] mrakitin commented on #255
May be worth to keep it open to see how we can use it for syncing between https://github.com/nsls-ii-forge and this repo before we fully abandon our internal builder.

[2019-09-22 19:31] mrakitin commented on #236
I think it is a bigger problem on the package's side to make a lighter installer first. Should coordinate with xicam developers, as the package is only available at https://anaconda.org/aryabhatt/xicam now.

[2019-09-22 19:33] mrakitin commented on #306
We have 2 packages now - `kafka-python` and `python-confluent-kafka`.

[2019-09-22 19:33] #306 closed

[2019-09-22 19:35] mrakitin commented on #331
This was resolved recently by @dmgav.

[2019-09-22 19:35] #331 closed

[2019-09-22 19:37] mrakitin commented on #347
Does not seem to be the case anymore.

[2019-09-22 19:37] #347 closed

[2019-09-22 19:46] mrakitin commented on #370
- [ ] `csxtools` - need to solve
- [x] ~~`datamuxer` - not used, excluding~~
- [ ] `eiger-io` - resolved via the corresponding [feedstock](https://github.com/nsls-ii-forge/eiger-io-feedstock/blob/master/recipe/meta.yaml), need to mirror it here
- [x] ~~`filestore` - not used, excluding~~
- [ ] `hxntools` - resolved via the corresponding [feedstock](https://github.com/nsls-ii-forge/hxntools-feedsto

[2019-09-22 19:50] mrakitin commented on #391
We are moving to https://github.com/nsls-ii-forge, which uses CF infrastructure. We will discuss later if we want to use the binaries produced by CF's feedstocks.

[2019-09-22 19:50] #391 closed

[2019-09-22 19:51] mrakitin commented on #153
@jklynch, do you mind to take care of it?

[2019-09-22 19:52] mrakitin commented on #457
Bump.

[2019-09-22 19:55] mrakitin commented on #517
@gwbischof, do you mind to follow the steps in https://nsls-ii-forge.github.io/docs/, and generate the corresponding feedstock?

[2019-09-22 20:00] mrakitin commented on #544
The packages were made `noach` in https://anaconda.org/nsls2forge/repo and https://anaconda.org/lightsource2-tag/repo.

[2019-09-22 20:00] #544 closed

[2019-09-22 20:03] mrakitin commented on #582
This may not be needed anymore as we are moving toward https://github.com/nsls-ii-forge. Reopen the issue if it's still needed.

[2019-09-22 20:03] #582 closed

[2019-09-22 20:06] mrakitin commented on #621
With our current approach of the internal conda channel per cycle it should not be an issue anymore.

[2019-09-22 20:06] #621 closed

[2019-09-22 20:08] mrakitin commented on #630
Resolved via https://github.com/nsls-ii-forge.

[2019-09-22 20:08] #630 closed

[2019-09-22 20:10] mrakitin commented on #631
Not relevant anymore, we have all dependencies needed for building.

[2019-09-22 20:10] #631 closed

[2019-09-22 20:11] mrakitin commented on #672
@ke-zhang-rd, do you mind to take it over? If so, please follow the instructions at https://nsls-ii-forge.github.io/docs to generate a feedstock for the project.

[2019-09-22 20:12] mrakitin commented on #674
@leofang, did it work for you?

[2019-09-23 02:16] leofang commented on #674
Sorry @mrakitin, I've lost track of things recently. Starting tomorrow we'll have a full week Hackathon. I'll try to test it in my spare time.

[2019-09-23 14:12] jklynch commented on #153
Hi Maksim,

I will package recordwhat. There is no PyPI package or recipe that I could find. I will use event-model as a template, unless you are aware of an existing package.

Josh
________________________________
From: Maksim Rakitin <notifications@github.com>
Sent: Sunday, September 22, 2019 3:51 PM
To: NSLS-II/lightsource2-recipes <lightsource2-recipes@noreply.github.com>
Cc: Lynch, Joshua <jl

[2019-09-24 18:42] tacaswell commented on #153
attn @klauer about getting a pypi package.

[2019-09-24 18:43] tacaswell commented on #457
There is a feed stock for this: https://github.com/conda-forge/blosc-hdf5-plugin-feedstock

[2019-09-24 18:44] klauer commented on #153
Is it being used, or can we just drop it altogether @tacaswell? I've found a lot of recordwhat to be unusably old and broken...

[2019-09-24 18:45] mrakitin commented on #457
Cool, I didn't see it before.

[2019-09-24 20:35] tacaswell commented on #153
If you don't think it is useful anymore we can drop it, but I think we still want to be able to parse db/dbd files....

[2019-09-24 20:49] klauer commented on #153
I think all recordwhat's grammar definitions of db/dbd are slightly off.

At some point, it might be interesting to base a more complete version on https://github.com/epicsdeb/pypdb , though there's a lot of work there in making it readable/maintainable/user-friendly.

[2019-09-27 12:49] mrakitin opened #800 "Token warning: expires in 26 days"
Need to renew it.
[code]

[2019-10-09 17:41] mrakitin commented on #672
It's implemented via https://github.com/nsls-ii-forge/hunter-feedstock/pull/1. The packages are available in https://anaconda.org/nsls2forge/hunter/files.

[2019-10-09 17:41] #672 closed

[2019-10-23 21:18] danielballan opened #813 "Missing BMM deps"
Add pillow, openpyxl, lmfit.

[2019-10-23 21:19] mrakitin commented on #813
Can it be migrated to https://github.com/nsls-ii-forge/project-management?

[2019-10-23 21:21] danielballan commented on #813
Sure, can you transfer it?

[2019-10-23 21:23] mrakitin commented on #813
Hmm, I don't have an option to transfer across organizations.

[2019-10-23 21:23] danielballan commented on #813
Ah, I see. Will close and re-create there.

[2019-10-23 21:23] #813 closed

[2019-10-23 21:29] mrakitin commented on #813
xref https://github.com/nsls-ii-forge/project-management/issues/5

[2019-10-25 18:03] mrakitin commented on #800
Updated: https://3.basecamp.com/3733838/buckets/4534819/messages/2157857365.

[2019-10-25 18:03] #800 closed

[2020-03-03 16:24] mrakitin opened #827 "Add paramiko to the ISS collection metapackage"